@import '_tailwind';
@import '_themes';
@import '_chatbox';
@import '_button';
@import '_editor';
@import '_autocomplete';

.default-icon {
  @apply shrink-0 stroke-1 opacity-90;
  /*stroke: rgb(3 4 94 / 100%);
  fill: rgb(3 4 94 / 10%);*/
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
